<!-- ===================== -->
    <!--    P-Header Section   -->
    <!-- ===================== -->

    <section id="page-header" class="about-header">
        <h2>#let's_talk</h2>

        <p> leave a messege , we love to hear from you! </p>
    </section>
    <!-- ===================== -->
    <!--     contact details    -->
    <!-- ===================== -->
    <section id="contact-details" class="section-p1 ">
        <div class="details">
            <span>GET IN TOUCH </span>
            <h2> visite one of our agency locations or contact us today</h2>
            <h3> HEAD OFFICE</h3>
            <div>
                <li>
                    <fa-icon  [icon]="faMap"></fa-icon>
                    <p>Ibrahim salama squer</p>
                </li>
                <li>
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                    <p>Eshop@gmail.com</p>
                </li>
                <li>
                    <fa-icon [icon]="faMobilePhone"></fa-icon>
                    <p>Eshop@gmail.com</p>
                </li>
                <li>
                    <fa-icon [icon]="faClock"></fa-icon>
                    <p>Monday to stutrday 9:00 am to 16:00 pm</p>
                </li>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.420088705912!2d106.69040347408851!3d10.855618657729966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752838bb35606d%3A0x45677c80bb3326d3!2zNzkvMUcgVOG7lSAyMCBLUDEsIEFuIFBow7ogxJDDtG5nLCBRdeG6rW4gMTIsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1700545171580!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <!-- ===================== -->
    <!--     form section      -->
    <!-- ===================== -->
    <section id="form-details" class="section-p1">
        <form action="">
            <span> LEAVE A MESSEGE</span>
            <h2> we love to hear from you</h2>
            <input type="text" placeholder=" YOUR NAME">
            <input type="text" placeholder=" E-MAIL">
            <input type="text" placeholder=" SUBJECT">
            <textarea name="" id="" clos="30" rows="10" placeholder="your messege"></textarea>
            <button class="normal">submit</button>
        </form>
        <div class="people">
            <div>
                <img src="assets/img/people/1.png" alt="" />
                <p>
                    <span> Phan Chi Hieu</span>
                    Software Engineer <br /> phone:0857590823<br /> E-mail:pchihieu@gmail.com
                </p>
            </div>
            <div>
                <img src="assets/img/people/3.png" alt="" />
                <p>
                    <span> Man Dan</span>
                    Senior Marketing Manager <br /> phone:01299494838<br /> E-mail:mandan@gmail.com
                </p>
            </div>
            <div>
                <img src="assets/img/people/2.png" alt="" />
                <p>
                    <span> Nguyen Phong </span>
                    Senior AI Engineer<br /> phone:0109955256<br /> E-mail:phong@gmail.com
                </p>
            </div>
        </div>
    </section>
    <!-- ===================== -->
    <!--      Newsletter       -->
    <!-- ===================== -->
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email adress">
            <button class="normal">Sign Up</button>
        </div>
    </section>