<!-- ===================== -->
    <!--    P-Header Section   -->
    <!-- ===================== -->
    <section id="page-header" class="about-header">
        <h2>#let's_talk</h2>

        <p> leave a messege , we love to hear from you! </p>
    </section>

    <!-- ===================== -->
    <!---     cart details    --->
    <!-- ===================== --> 
    <section id="cart" class="section-p1" >
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#"><fa-icon class="far " [icon]="faTimesCircle"></fa-icon></a></td>
                    <td><img src="assets/img/products/f1.jpg"></td>
                    <td>Cartoon Astronaut T-Shirts</td>
                    <td>200000 VND</td>
                    <td><input type="number" value="1"></td>
                    <td>300 VND</td>
                </tr>
                <tr>
                    <td><a href="#"><fa-icon class="far " [icon]="faTimesCircle"></fa-icon></a></td>
                    <td><img src="assets/img/products/f2.jpg"></td>
                    <td>Cartoon Astronaut T-Shirts</td>
                    <td>300000 VND</td>
                    <td><input type="number" value="1"></td>
                    <td>400000 VND</td>
                </tr>
                <tr>
                    <td><a href="#"><fa-icon class="far " [icon]="faTimesCircle"></fa-icon></a></td>
                    <td><img src="assets/img/products/f3.jpg"></td>
                    <td>Cartoon Astronaut T-Shirts</td>
                    <td>500000 VND</td>
                    <td><input type="number" value="1"></td>
                    <td>100000 VND</td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- ===================== -->
    <!--     cart add details    -->
    <!-- ===================== -->
    <section id="cart-add" class="section-p1">
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="Enter Your Coupon">
                <button class="normal">Apply</button>
            </div>
        </div>
        <div id="subtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td>19000000 VND</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>3000000 VND</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>22000000 VND</strong></td>
                </tr>
            </table>
            <button class="normal">Proceed to checkout</button>
        </div>
    </section>
